body {
    background: #e7e7e7;
    font-family: -apple-system, BlinkMacSystemFont, 'Apple System', 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-align: center;
}

button {
    display: block;
    margin: 5px auto;
    cursor: pointer;
}

h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

hr {
    margin: 1.5rem 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
}

section {
    display: block;
    overflow: auto;
    width: 600px;
    margin: 25px auto;
}

section > div {
    float: left;
    margin: 0 25px;
    text-align: center;
}

section > div:before {
    content: '';
    display: block;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    background: #999;
    transition: all 0.25s;
}

section > .active:before {
    background: red;
    border-radius: 50%;
}
